.winnerModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    background-color: rgba(0, 0, 0, 0.4);
    &__content {
        background-color: #3557c7;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #888;
        height: 30%;
        width: 80%;
        &--paragraph {
            color: $color;
            text-align: center;
        }
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $color;
    text-decoration: none;
    cursor: pointer;
}